---
common:
    title: Princeton News
    dataObjects:
    -   KGONewsItem
    controllerConfigs:
        KGOUIListItemNews: info.objdefs.listitem
        KGOUIDetail: info.objdefs.detail
    objdefs:
        listitem:
            fields:
                thumbnail:
                    kgoResolveType: value
                    kgoResolveValue: kgonews:thumbnail
                    kgoResolveProcessors:
                    -   class: KGOImageDataProcessor
                        options:
                            maxWidth: 100
                            maxHeight: 100
                            crop: true
        detail:
            fields:
                description: null
                thumbnail: null
                hero:
                -   kgoResolveType: value
                    kgoResolveValue: kgonews:thumbnail
...
